body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
}

h1 {
  margin-bottom: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #777;
}

canvas {
  margin-top: 20px;
  background-color: black;
  border: 2px solid white;
}
